<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>coolfluid</string>
	<key>CFBundleExecutable</key>
	<string>coolfluid</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>CF_VERSION</string>
	<key>CFBundleShortVersionString</key>
	<string>CF_VERSION</string>
	<key>CFBundleIconFile</key>
	<string>coolfluid.icns</string>
	<key>CFBundleSignature</key>
	<string>COOLFLUID</string>
	<key>CFBundleGetInfoString</key>
	<string>COOLFluiD CF_VERSION, Copyright (C) 2010-2011 von Karman Institute for Fluid Dynamics, Belgium</string>
	<key>CFBundleIdentifier</key>
	<string>be.ac.vki.cooolfluid</string>
</dict>
</plist>
